<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Acme Web Design</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel="stylesheet" href="public/css/style.css">


</head>

<body>
    <div class="container">
        <h1 class="brand"><span>Acme</span> Web Design</h1>
        <div class="wrapper animated bounceInLeft">
            <div class="company-info">
                <h3>Acme Web Design</h3>
                <ul>
                    <li><i class="fa fa-road"></i> 44 Something st</li>
                    <li><i class="fa fa-phone"></i> (555) 555-5555</li>
                    <li><i class="fa fa-envelope"></i> test@acme.test</li>
                </ul>
            </div>
            <div class="contact">
                <h3>Email Us</h3>
                {{msg}}
                <form method="post" id="contact-form" action="/contact">
                    <p>
                        <label>Name</label>
                        <input type="text" name="name">
                    </p>

                    <p>
                        <label>Email Address</label>
                        <input type="email" name="email">
                    </p>
                    <p>
                        <label>Phone Number</label>
                        <input type="text" name="phone">
                    </p>
                    <p class="full">
                        <label>Message</label>
                        <textarea name="message" rows="5"></textarea>
                    </p>
                    <p class="full">
                        <div id='recaptcha' class="g-recaptcha" data-sitekey="6Ldn6YQUAAAAAGKDPHRUditNxFLNo0hgOxCGMGkC"
                            data-callback="userVerified" data-size="invisible"></div>
                        <button id="contact-button">
                            Submit
                        </button>
                    </p>
                    <input type="hidden" id="token" name="token">
                </form>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <!-- Add as template -->
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <script>
        function userVerified(token) {
            // Passed all validations, submit via ajax
            var form = $("#contact-form");
            var url = form.attr('action');
            $('#token').val(token);

            $.ajax({
                type: "POST",
                url: url,
                data: form.serialize(), // serializes the form's elements.
                success: function (data) {
                    grecaptcha.reset();
                    $('#contact-form')[0].reset();
                    console.log(data); // 
                },
                error: function (data) {
                    console.log(data);
                    grecaptcha.reset();
                    $('#contact-form')[0].reset();

                }
            });
        }

        function validate(event) {
            event.preventDefault();
            if (false) {
                alert("You must add text to the required field");
            } else {
                grecaptcha.execute();
            }
        }
        function onload() {
            var element = document.getElementById('contact-button');
            element.onclick = validate;
        }
    </script>
    <script>onload();</script>
</body>

</html>